/* // Author: Lorenzo Ramirez
   // Date Created: 2023-09-07
   // Purpose: CSS styles for popup.html file */

* {
  font-family: "JetBrains Mono"
}

:root {
  --primary-color: #DCDCE1;
  --secondary-color: #43494A;
  --basic-text-color: #3b3b3b;
  --color-to-action-color: #637FCC;
}

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, var(--secondary-color), var(--color-to-action-color));
}

.container {
  display: flex;
  /* width: 100%; */
  /* height: 100vh; */
  overflow: hidden;
  flex-direction: column;
  margin: 1em;
}

.header{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.title-page{
  font-size: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.setting-container{
  padding-top: .75em;
}
.setting-header{
  display: flex;
  flex-direction: row;
  position: relative;
  color: var(--primary-color);
  width: 15em;
}

.setting-header-title{
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
  margin: .5em .25em;
}

.setting-options{
  width: 24em;
  height: 18em;
  background-color: var(--primary-color);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
.setting-options-title{
  font-weight: bolder;
  padding-bottom: 0.5em;
  font-size: 22px;
}

.settings-text{
  font-size: 20px;
  color: var(--basic-text-color);
}

.icons{
  filter: invert(50%) sepia(93%) saturate(989%) hue-rotate(200deg) brightness(85%) contrast(86%);
}

.suppress-options-form{
  margin-top: 0.5em;
}

input[type="submit"]{
  background-color: var(--color-to-action-color);
  border-radius: .25em;
  color: var(--primary-color);
  border-style: solid;
  border-width: 1px;
  width: 4em;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 11px;
}

label:before {
  content: "";
  display: inline-block;

  width: 1.15em;
  height: 1.15em;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: var(--primary-color);
  border: 0.15em solid var(--color-to-action-color);
  border-radius: 0.25em;
}

input[type=checkbox] {
  display: none;
}
.checkbox label:before {
  border-radius: 3px;
}

input[type="checkbox"]:hover {
  outline: max(2px, 0.15em) solid var(--secondary-color);
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]::before{
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--secondary-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
} */

input[type="checkbox"]{
  accent-color: var(--color-to-action-color);
  width: 1em;
}

