/* 
  // Author: Lorenzo Ramirez
  // Purpose: CSS styles for blockedPage.html file 
*/

/* Root and universal styles */
:root {
  --primary-color: #dcdce1;
  --secondary-color: #43494a;
  --color-to-action-color: #72bdf4;
  --info-header: #505050;
}

* {
  font-family: inter;
}

html,
body {
  margin: 0;
  padding: 0;
}


/* Section styles */
section {
  background: linear-gradient(
    var(--secondary-color),
    var(--color-to-action-color)
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

/* Header styles */
.header {
  display: flex;
  height: 5%;
  width: 100%;
}

/* Button styles */
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Icon styles */
.ext-icon {
  background-image: url(/images/restrictTheTubeLogo.png);
  background-size: cover;
  display: inline-block;
  height: 28px;
  padding: 5px;
  width: 28px;
}

/* Container styles */
.container {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

/* Message styles */
.reason-msg {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 3px var(--secondary-color);
}

/* Content styles */
.content {
  align-items: flex-start;
  display: flex;
  gap: 5em;
  justify-content: center;
  width: 100%;
}

/* Info box styles */
.blocked-info-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
}

/* Header styles */
.info-header {
  color: var(--primary-color);
  font-weight: 500;
}

/* YouTube usage styles */
.yt-usage-container {
  display: flex;
  gap: 2em;
}

.yt-usage-box {
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 0 3px var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 8em;
}

/* Header styles */
.usage-header {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
}
.usage-time {
  color: var(--secondary-color);
  margin-left: 10px;
}

/* Icon styles */
.clock-icon {
  height: 24px;
  padding: 5px;
  width: 24px;
}

/* Text styles */
.header-text,
.time-text {
  font-weight: 500;
  margin: 0;
}

.time-text {
  color: var(--secondary-color);
  margin-bottom: 5px;
  /* margin-right: 10px; */
}

/* Activity styles */
.activity {
  display: none;
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 0 3px var(--secondary-color);
  padding: 1px 5px;
  margin-bottom: 7px;
}

.activity-placeholder {
  display: none;
}

/* Wave styles */
.waves,
.wave {
  bottom: 0;
  height: 20vh;
  left: 0;
  width: 100%;
}

.wave {
  background: url(/images/waveBackground.png);
  background-size: 100vw 20vh;
  position: absolute;
}

.wave1 {
  animation: forward-animate 20s linear infinite;
  animation-delay: 0s;
  opacity: 0.9;
  z-index: 15;
}

.wave2 {
  animation: backward-animate 15s linear infinite;
  animation-delay: -5s;
  opacity: 0.7;
  z-index: 10;
}

.wave3 {
  animation: forward-animate 10s linear infinite;
  animation-delay: -2s;
  opacity: 0.4;
  z-index: 5;
}

.wave4 {
  animation: backward-animate 5s linear infinite;
  animation-delay: -5s;
  opacity: 0.5;
  z-index: 1;
}

@keyframes forward-animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100vw;
  }
}

@keyframes backward-animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100vw;
  }
}

/* Font face */
@font-face {
  font-family: "inter";
  src: url(/styles/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
