/* 
  // Author: Lorenzo Ramirez
  // Purpose: CSS styles for popup.html file 
*/

:root {
  --primary-color: #DCDCE1;
  --secondary-color: #43494A;
  --color-to-action-color: #637FCC;
}

.container{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  margin: -10px;
}

body {
  background-color: var(--primary-color);
}

#header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-width: 1px;
  border-bottom-style: solid;
  background-color: var(--secondary-color);
}

#icon-name-container{
  display: flex;
  align-items: center;
}
#ext-icon{
  width: 24px;
  height: 24px;
  padding-left: 10px;
}
#extension-name{
  font-size: 18px;
  font-weight: 500;
  font-style: oblique;
  margin-left: 5px;
  width: 100%;
  color: var(--primary-color);
}

#settings-icon{
  display: flex;
  padding-right: 5px;
}
.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.settings-svg-icon{
  width: 28px;
	height: 28px;
	background-size: cover;
	display: inline-block;
	background-image: url(/images/settings-icon.svg);
}

#info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.info-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 12px;
  margin: 10px;
}
.box-content{
  padding: 10px 15px;
}
.content-usage{
  margin: 0px;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-bottom-color: var(--primary-color);
}
.content{
  display: flex;
  flex-direction: column;
}
.usage-time{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}
.content-items{
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 500;
}
.content-process{
  margin: 0px;
  display: flex;
  color: var(--primary-color);
}
ul{
  padding-left: 10px;
  list-style-type: disc;
  color: var(--primary-color);
}
li{
  font-size: 12px;
  font-weight: 500;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}
footer a{
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: bold;
  padding-right: 10px;
}