/* 
  COMBINATORS

    = descendant
  > = child
  ~ = general sibling
  + = adjacent sibling
*/

:root {
  /* color-scheme: dark; */

  /* Primitive Variables */
  /* --grey-50: #f1f1f1; */
  --grey-50: ghostwhite;
  --grey-600: #262725;
  --grey-800: #1e1f1f;
  --grey-900: #202020;

  --brand-1: #d92121;
  --brand-2: #178220;

  --icon-50: invert(95%) sepia(80%) saturate(42%) hue-rotate(145deg)
    brightness(113%) contrast(89%);
  --icon-900: invert(0%) sepia(5%) saturate(1850%) hue-rotate(340deg)
    brightness(96%) contrast(75%);
  --icon-white: invert(94%) sepia(6%) saturate(82%) hue-rotate(201deg)
    brightness(100%) contrast(93%);

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 52px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;

  /* Token Variables */
  --text-primary: var(--grey-800);
  --text-secondary: var(--grey-900);
  --text-light: var(--grey-50);
  --text-dark: var(--grey-800);
  --text-brand: var(--brand-1);

  --surface-primary: var(--grey-50);
  --surface-secondary: var(--brand-50);
  --surface-light: var(--grey-50);
  --surface-dark: var(--grey-800);
  --surface-brand: var(--brand-1);
  --surface-brand-2: var(--brand-2);
  --surface-hover: offwhite;

  --border-primary: var(--brand-800);
  --border-secondary: var(--grey-900);
  --border-light: var(--grey-50);
  --border-dark: var(--grey-800);
  --border-brand: var(--brand-1);

  --spacing-xs: var(--spacing-1);
  --spacing-sm: var(--spacing-2);
  --spacing-md: var(--spacing-4);
  --spacing-lg: var(--spacing-5);
  --spacing-xl: var(--spacing-7);
  --spacing-2xl: var(--spacing-13);

  --radius-minimal: var(--radius-sm);
  --radius-rounded: var(--radius-md);
  --radius-more-rounded: var(--radius-xl);
  --radius-full: var(--radius-3xl);
}

/* 
  FONTS
*/
.inter-1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 500, 600;
  font-style: normal;
}

/* 
  TYPOGRAPHY
*/
h1,
h2,
h3,
h4,
p,
legend {
  font-weight: 500;
  margin: 0;
  line-height: 150%;
  letter-spacing: 0.5px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

a,
p {
  margin: 0;
  color: var(--text-light);
}

p {
  font-size: 1.4rem;
}

/* 
  TAG STYLES 
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%; /* set default to 10px */
  scroll-behavior: smooth;
  overflow-x: auto;
}

html:has(:popover-open) {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem; /* 10px * 1.6rem = 16px bc of 62.5% */
  line-height: 1.4;
  background-color: var(--surface-dark);

  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  overflow: hidden;
}

/* 
  FORM
*/
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
fieldset {
  /* gap: 0.8rem; */
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  align-self: center;
  font-size: 1.6rem;
  /* font-weight: 600; */
  margin: 0;
  padding: 0;
}

/* 
  CUSTOM SCROLLWHEEL
*/

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--surface-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(272, 5%, 40%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(272, 5%, 60%);
}

::-webkit-scrollbar-thumb:active {
  background: hsl(272, 10%, 75%);
}

/* 
  MAIN SECTIONS 
*/
main {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  flex-direction: column;

  /* NOTE: a band-aid for the bottom content being cut off */
  padding-bottom: 7rem;
}

.general-body {
  padding: 0 4rem;
  width: 100%;
  background: var(--surface-light);
  overflow-y: auto;
  transition: padding 0.25s;

  > section,
  > header {
    padding: 3.2rem 0 0;
  }

  > * {
    transition: padding 0.5s;
  }
}

#general {
  nav {
    padding: 2.4rem 2rem;
  }
}

#dashboard {
  padding: 0 2rem 2rem;

  main {
    padding-bottom: 1.6rem;
    gap: 1.6rem;
    overflow-y: hidden;
    height: 100dvh;
  }
}

.general-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 4rem;
  transition: padding 0.25s;

  ul {
    /* padding: 1.2rem 0; */
    gap: 1.6rem;
  }

  button {
    padding: 1.2rem 0;
    border-radius: 0;
    border-bottom: 4px solid transparent;
    transition: 0.25s;
  }

  button:hover {
    border-bottom-color: var(--border-brand);
  }

  h1 {
    font-size: 32px;
    color: var(--text-light);
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
  }
}

.current-tab {
  border-bottom-color: var(--border-brand) !important;
}

/* Info button TODO: place into proper place */
header > h1 {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  abbr {
    align-self: center;
    height: 24px;
    cursor: default;
  }
}

/* 
  LISTS 
*/
ul {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.selectable-list {
  flex-direction: column;
  width: 100%;
  gap: 8px;
  /* overflow-y: scroll; */
  /* height: 100rem; */

  li,
  label {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

/* 
  ANCHORS & BUTTONS
*/
a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.25s;
  align-self: center;
}
a:hover {
  cursor: pointer;
}

button {
  transition: background, opacity 0.25s;
  border: none;
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);
  user-select: none;
  color: var(--text-light);
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  display: flex;
  padding: 1.2rem 1.6rem;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
  background: var(--surface-dark);
  min-width: max-content;
}

button[type="submit"] {
  background: var(--brand-2);
}

.misc-button {
  background: var(--brand-1);
}

button:hover {
  cursor: pointer;
  text-decoration: none;
}

button[type="submit"]:hover {
  background: hsl(125, 70%, 25%);
}
button[type="submit"]:active {
  background: hsl(125, 70%, 20%);
}

.misc-button:hover {
  background: hsl(0, 74%, 44%);
}
.misc-button:active {
  background: hsl(0, 74%, 39%);
}

.underline-hover p {
  display: block;
}

.underline-hover p::after {
  content: "";
  display: flex;
  width: 0;
  height: 2.5px;
  background: var(--surface-brand);
  border-radius: var(--radius-rounded);
  transition: width 0.3s;
  transform: translateY(4px);
}

.underline-hover:hover p::after,
.underline-hover:focus p::after {
  width: 100%;
}

.arrow-hover:hover {
  img {
    transform: translateX(2.5px);
  }
}

.cancel p,
#clear-settings p {
  color: var(--text-brand);
}

.text-button {
  display: flex;
  gap: 0.4rem;
  color: var(--text-dark);
  background: none;
  box-shadow: none;
  padding: 0;
}

.text-button:focus-visible {
  outline: none;
}

.group-of-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
  flex-direction: row;
  width: 100%;

  p {
    /* color: var(--wm-text-color); */
    color: black;
  }
}

/* Typically for success messages */
.button-with-msg {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  position: relative;

  .material-symbols-rounded {
    font-size: 2.8rem;
  }
}
.button-msg,
.popup-button-msg {
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;
  position: absolute;
  /* top: 6rem; */
  background: var(--surface-light);
  width: fit-content;
  z-index: 3;
  box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.1);
  padding: 11px 16px;
  border-radius: var(--radius-2xl);

  p {
    color: var(--text-dark);
    width: max-content;
  }
}

.button-msg {
  right: 16rem;
}

.popup-button-msg {
  right: 6rem;
  top: 1.5rem;
}

/* 
  Inputs
*/
input[type="date"],
select,
input[type="text"],
input[type="url"],
select[type="text"] {
  border-radius: 0.8rem;
  padding: 0.8rem 1.2rem;
  border: #1e1f1f4f solid 1.4px;
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);
}

input[type="date"]:hover,
select:hover,
input[type="text"]:hover,
input[type="url"]:hover,
select[type="text"]:hover {
  cursor: pointer;
}

input[type="date"]:focus-visible,
select:focus-visible,
input[type="text"]:focus-visible,
input[type="url"]:focus-visible,
select[type="text"]:focus-visible {
  outline-color: var(--surface-brand-2);
}

/* Checkbox Button Appearance */
/* Hidden visibility to allow tab index and accessibility */
input[type="checkbox"] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* Custom Time input */
input[type="time" i] {
  padding: 1rem;
  background: var(--surface-dark);
  border: 1.25px solid var(--border-dark);
  border-radius: 1rem;
  color: var(--text-text);
  font-size: 1.5rem;
  cursor: pointer;
  /* width: 12.5rem; */
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(25%) sepia(0%) saturate(30%) hue-rotate(193deg) brightness(93%)
    contrast(96%);
  cursor: pointer;
}

/* Color input for watch mode creation */
input[type="color"] {
  border-radius: 0.4rem;
}

/* Custom checkboxes */
.checkmark {
  height: 24px;
  width: 24px;
  border: 1px solid var(--border-dark);
  transition: 0.4s background-color;
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;

  display: flex;

  span {
    visibility: hidden;
  }
}

/* 
  Checkbox with Text Inside
*/
.checkbox-form,
.schedule-new {
  display: block;
  /* margin: 10px 0; */
  /* align-items: flex-start; */
  /* align-content: flex-start; */
  column-gap: 0.8rem;
  columns: 2;
  /* align-self: stretch; */
  /* flex-wrap: wrap; */

  & .checkbox-item {
    float: left;
    overflow: hidden;
    margin: 4px 0;
    background-color: var(--surface-light);
    border: 1px solid var(--border-dark);
    border-radius: var(--radius-2xl);
    transition: 0.3s;
    height: fit-content;
    width: 100%;
    break-inside: avoid;

    & label span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      padding: 8px 16px;
      cursor: pointer;
      user-select: none;
      flex: 1 0 0;
      font-size: 14px;
    }
    & label input {
      display: none;
      position: absolute;
    }
    & label input + span {
      color: var(--text-dark);
      font-weight: 600;
      transition: 0.4s;
    }
  }
  & .checkbox-item:hover {
    /* background-color: #e3e3e3; */
    border-radius: var(--radius-3xl);
  }
  & .checkbox-item:active {
    border-radius: 3rem;
    /* background-color: #d2d2d2; */
  }
  .checkbox-item input:checked + span {
    background-color: var(--surface-brand);
    color: var(--text-light);
  }
}

/*
  Notifications
*/
#notif-msg {
  display: none;
  position: absolute;
  right: 2rem;
  border-radius: 12px;
  align-items: center;
  justify-content: flex-end;
  gap: 1.2rem;

  background: var(--surface-light);
  width: fit-content;
  z-index: 3;
  box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.1);
  padding: 1.6rem 1.6rem 1.6rem 4rem;

  p {
    color: var(--text-dark);
  }
}

#notif-msg:before {
  content: "";
  position: absolute;
  background: var(--notif-before-background);
  width: 3.2rem;
  height: 5.6rem;
  left: 0;
  border-radius: 1rem 0 0 1rem;
}

/* 
  Loading Button
*/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.spin-animation {
  animation: 1.75s spin linear infinite;
  background-image: conic-gradient(
    from var(--angle),
    #fb0b5c,
    #ffa701,
    #f76e3e,
    #119ffb,
    #a952f6,
    #fb0b5c
  ) !important;
  border: 0px solid transparent !important;

  button {
    margin: 3px;
  }
}

span:has(> button[type="submit"]) {
  border-radius: 1.8rem;
  border: 3px solid transparent;
}

/* 
button:disabled {
  opacity: 50%;
} */

button[type="submit"]:disabled:hover {
  cursor: wait;
}
.watch-mode-disabled:disabled:hover {
  cursor: not-allowed;
}

/* 
  ICONS & IMAGES 
*/
.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 24;
  color: var(--surface-dark);
}
button .material-symbols-rounded {
  color: var(--surface-light);
}
.playback .material-symbols-rounded {
  color: var(--surface-dark);
  font-size: 12px;
}
.yt-limit-examples header .material-symbols-rounded,
.side .material-symbols-rounded,
.checkmark span {
  font-size: 20px;
  color: var(--surface-light);
}

img,
picture,
svg video,
link {
  display: block;
  max-width: 100%;
}

img {
  width: 24px;
  height: 24px;
}

/* Icon Recoloring */

/* 
  NAVIGATION BAR
*/
/* body:not(.popup) > nav { */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;

  z-index: 2;
  top: 0;
  padding: 2.4rem 0;
  height: auto;
  background-color: var(--surface-dark);

  ul,
  span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
  }

  span,
  a {
    gap: var(--spacing-sm);
  }

  ul {
    gap: var(--spacing-lg);
  }

  a,
  > div,
  li,
  p {
    display: flex;
    align-items: center;
  }
  a {
    transition: color 0.25s;
    box-shadow: none;
  }

  p {
    line-height: 100%;
    font-size: 1.4rem;
  }
  > div {
    gap: var(--spacing-md);
  }

  .material-symbols-rounded {
    color: var(--surface-light);
  }
}

.current-page {
  span {
    color: var(--surface-brand);
  }
}

/* 
  WIDGETS
*/

/* dashboard.html */
.widget-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-self: stretch;
  /* width: 100%; */
  flex-direction: column;
  /* flex: 1 0 0; */
}

/* dashboard.html & settings.html */
.widget-item,
.general-body > section {
  display: flex;
  flex-direction: column;

  > header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .material-symbols-rounded {
      color: var(--text-light);
      font-size: 2rem;
      align-self: center;
    }
  }

  .content {
    border-radius: var(--radius-xl);
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.6rem;
    align-self: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 100%;
    height: 100%;
  }
}

/* dashboard.html */
.widget-item {
  min-width: 40rem;
  align-items: flex-start;
  gap: 1.2rem;
  flex: 1 0 0;

  > header {
    color: var(--text-light);

    h1 {
      font-size: 1.6rem;
      font-weight: 600;
    }
    h2 {
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.general-body > section {
  gap: 2rem;

  > header {
    h1 {
      font-size: 1.8rem;
      font-weight: 600;
    }
    h2 {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  .sub-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    align-self: stretch;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    width: 100%;
  }
}

#dashboard .widget-container-row {
  flex-direction: row;
  flex: 0;

  .widget-item header > span {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  a {
    align-items: center;
    gap: 0.4rem;
    display: flex;

    /* p {
      color: var(--text-dark);
    } */

    span {
      transition: 0.25s;
    }
  }

  a:hover {
    span {
      transform: translateX(2px);
    }
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 7.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

/* 
  TOOLTIPS
*/
.anchor-attributes {
  anchor-name: --license-attributes;
}
.tooltip {
  padding: 1.6rem;
  /* background-color: var(--brand-5); */
  border-radius: var(--radius-rounded);
  width: fit-content;
}
#attributes {
  position: absolute;
  inset: auto;
  position-anchor: --license-attributes;
  right: anchor(right);
  bottom: anchor(top);
  border: none;
  max-width: 24rem;

  > span {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-bottom: 12px;
      width: 100%;
    }
  }

  a {
    /* text-decoration: underline; */
    background-color: var(--brand-3);
    padding: 6px;
    border-radius: 8px;
  }
}

#attributes a:hover {
  --tw-scale: 1.025;
  transform: scaleX(var(--tw-scale)) scaleY(var(--tw-scale));
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
}

/* 
  LIMITATIONS SETTINGS
*/

#limitation-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6rem;
  width: 100%;

  > div:has(#restriction-settings) {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  @media screen and (max-width: 1200px) {
    > div:has(#restriction-settings) {
      flex-wrap: wrap;
    }
  }

  #restriction-settings,
  #additional-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    align-self: stretch;
    min-width: 50rem;

    header > h1 {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  form,
  fieldset,
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    > h1 {
      font-size: 1.4rem;
    }
  }
  form,
  fieldset {
    gap: 1.2rem;
  }
  ul {
    gap: 0.8rem;
  }

  legend {
    margin-bottom: 1.2rem;
  }
}

#restriction-settings fieldset span {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  label:nth-child(2) {
    padding-left: 2.8rem;
  }
}

#limitation-demos {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
  align-self: stretch;
  align-content: flex-start;
  justify-content: space-around;
}

#watch-times .checkbox-form {
  columns: 1;
}

/* 
  SIDE CHECKBOXES
*/
.side-checkbox-container {
  display: flex;
  align-items: center;
  background-color: var(--surface-light);
  gap: 0.8rem;
  position: relative;
  align-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1 {
    font-size: 1.4rem;
  }
  img {
    width: 32px;
  }

  span {
    justify-content: center;
    align-items: center;
    /* border-radius: 16px; */
    /* box-shadow: 0.5px 1.2px 5px -3px var(--surface-dark); */
  }
}

.side-checkbox-container input:focus:checked ~ .checkmark,
.side-checkbox-container input:focus ~ .checkmark {
  border: var(--surface-dark) solid 1.35px;
  /* box-shadow: 0 0 2px 0 var(--surface-dark); */
}

.side-checkbox-container input:focus:checked ~ .checkbox-label,
.side-checkbox-container input:focus ~ .checkbox-label {
  font-weight: 700;
}

.side-checkbox-container input:checked ~ .checkmark {
  border: 1px solid transparent;
  background-color: var(--surface-brand);
  box-shadow: none;

  span {
    visibility: visible;
    box-shadow: none;
  }
}

/* When checkbox is checked */
.side-checkbox-container:hover input:checked ~ .checkmark {
  background-color: #b11b1b;
}

/* When checkbox is unchecked */
.side-checkbox-container:hover input ~ .checkmark {
  background-color: #e6e6e6;
}

/* 
  FULL WIDTH CHECKBOXES  
*/
.full-width-checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  cursor: pointer;
  border-radius: 12px;
  padding: 4px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1.25px solid transparent;

  h1 {
    font-size: 1.4rem;
    font-weight: 500;
  }
  img {
    height: 32px;
    width: 32px;
    border-radius: var(--radius-3xl);
  }

  > span:first-child {
    gap: 8px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 16px; */
  }
}

.full-width-checkbox-container input:focus:checked ~ .checkmark,
.full-width-checkbox-container input:focus ~ .checkmark {
  border: var(--surface-dark) solid 1.25px;
  /* box-shadow: 0 0 2px 0 var(--surface-dark); */
}

.full-width-checkbox-container input:focus:checked ~ .checkbox-label,
.full-width-checkbox-container input:focus ~ .checkbox-label {
  font-weight: 700;
}

.full-width-checkbox-container input:checked ~ .checkmark {
  border: 1px solid transparent;
  background-color: var(--surface-brand);
  box-shadow: none;

  span {
    visibility: visible;
    box-shadow: none;
  }
}

.full-width-checkbox-container:hover {
  border: 1.25px solid var(--surface-dark);
}

/* When checkbox is checked */
.full-width-checkbox-container:hover input:checked ~ .checkmark {
  background-color: #b11b1b;
}

/* When checkbox is unchecked */
.full-width-checkbox-container:hover input ~ .checkmark {
  background-color: #e6e6e6;
}

/* 
  YOUTUBE LAYOUT DEMO
*/
.yt-limit-examples {
  height: 36rem;
  width: 52rem;
  background-color: var(--surface-dark);
  border-radius: 20px;
  margin: 0;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);

  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  img {
    width: 20px;
    filter: invert(97%) sepia(26%) saturate(0%) hue-rotate(3deg)
      brightness(103%) contrast(97%);
  }
  .yt-logo {
    filter: none;
  }
  .search-bar {
    position: absolute;
    left: 25%;
    width: 21rem;
    background-color: var(--surface-light);
    border-radius: 12px;
    height: 2.2rem;
  }

  .side {
    gap: 0.75rem;
    position: absolute;
  }

  .yt-content {
    height: 100%;
    margin: 2rem 3rem;
    width: 100%;
    > div {
      padding-bottom: 1.5rem;
    }
    > img {
      padding-bottom: 0.5rem;
    }
  }
  .video,
  .comments-section {
    border-radius: 8px;
    background-color: var(--surface-light);
    margin-bottom: 0.5rem;
  }
  .short {
    width: 5.5rem;
    height: 8.5rem;
    border-radius: 8px;
    background-color: var(--surface-light);
  }
  .home-videos {
    display: flex;
    gap: 1rem;
    width: 120%;

    .video {
      width: 12rem;
      height: 8rem;
    }
  }
  .home-shorts {
    display: flex;
    gap: 1rem;
    width: 120%;
  }
  .playback {
    width: fit-content;
    height: 100%;

    > div {
      margin-bottom: 0.5rem;
    }
  }
  .window {
    background-color: var(--surface-light);
    width: 28rem;
    height: 18rem;
    border-radius: 12px;
    position: relative;

    .bottom-bar {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1.75rem;
      padding: 0 0.5rem;
      border-top: 1.5px solid var(--border-dark);

      > div {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
    img {
      width: 12px;
      height: 12px;
      filter: invert(19%) sepia(0%) saturate(2914%) hue-rotate(183deg)
        brightness(101%) contrast(84%);
    }
  }
  .desc {
    gap: 0.4rem;

    > div {
      border-radius: 8px;
      width: 60%;
      background-color: var(--surface-light);
      height: 0.6rem;
    }
    > div:nth-child(2n) {
      width: 40%;
    }
    > div:nth-child(3n) {
      width: 0%;
    }
  }
  .comments-section {
    width: 100%;
    height: 6rem;
  }

  .side-content {
    position: absolute;
    right: 0;
    gap: 1rem;
    padding: 0 1rem;
    width: 30%;
  }
  .side-shorts {
    display: flex;
    gap: 1rem;
    width: 100%;
  }
  .side-vids {
    gap: 1rem;

    .video {
      width: 100%;
      height: 6rem;
      margin-bottom: 0.5rem;
    }
  }

  * {
    user-select: none;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Preferred Creators Height size */
#preferred-creators {
  height: 90rem;

  /* NOTE: this is temporary */
  /* .selectable-list,
  button[type="submit"] {
    display: none;
  } */
}

.empty-content {
  /* NOTE: this temporary */
  display: none;

  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 2rem;

  > .material-symbols-rounded:first-child {
    font-size: 10rem;
    color: var(--surface-dark);
  }

  h1 {
    font-size: 2rem;
  }

  p {
    color: var(--text-dark);
    width: 44ch;
    text-align: center;
  }
}

/* 
  WATCH MODE
*/
section:is(#watch-mode) {
  /* NOTE: temporary, until watch mode feature is implemented */
  /* display: none; */

  .content {
    > #watch-modes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1.2rem;

      h1,
      h2,
      legend,
      fieldset li {
        color: black;
      }

      /* Watch Mode Item */
      > li {
        display: flex;
        flex-direction: column;
        padding: 1.2rem;
        background: var(--wm-bg-color);
        min-width: 24rem;
        max-width: 28rem;
        gap: 1.6rem;
        flex: 1 0 0;
        border-radius: var(--radius-more-rounded);
        color: var(--text-light);

        h1 {
          font-size: 1.6rem;
        }

        h2 {
          font-size: 1.4rem;
          font-weight: 400;
        }
      }

      > li:first-child {
        --wm-bg-color: lightcoral;
        /* --wm-bg-color: #000;
        --wm-bg-color: #333333;
        --wm-bg-color: #333366;
        --wm-bg-color: #330066; */
      }

      > li:nth-child(2) {
        --wm-bg-color: lightblue;
        /* --wm-bg-color: rgb(0, 51, 0);
        --wm-bg-color: #003333;
        --wm-bg-color: #006600;
        --wm-bg-color: #006633; */
      }

      > li:nth-child(3) {
        --wm-bg-color: cadetblue;
        /* --wm-bg-color: #000033;
        --wm-bg-color: #330033;
        --wm-bg-color: #000066;
        --wm-bg-color: #003366; */
      }

      > li:last-child {
        --wm-bg-color: peachpuff;
        /* --wm-bg-color: #330000;
        --wm-bg-color: #333300;
        --wm-bg-color: #660000;
        --wm-bg-color: #660033; */
      }
    }
  }
}
.watch-mode-enabled {
  /* background-color: #636363; */
  opacity: 75%;

  &:hover {
    cursor: not-allowed;
  }
}
#watch-mode,
#popover-new-watch-mode {
  fieldset {
    legend {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
    }

    ul {
      flex-direction: column;
      gap: 0.8rem;
    }

    li:not(.tag-button-item) {
      display: flex;
      align-items: center;
      align-self: stretch;
      padding: 1rem;
      border-radius: 0.8rem;
      background: var(--surface-light);
      box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);
      font-size: 1.4rem;
    }
  }
}

/* 
  BLOCK ADDITIONAL WEBSITES
*/
#block-websites {
  height: 90rem;

  fieldset {
    width: 100%;

    button {
      padding: 1.2rem;
    }
  }
  legend {
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
  }
  ul {
    flex-direction: column;
    gap: 1.2rem;
  }
  li {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  h1:not(.empty-content h1) {
    font-size: 1.6rem;
  }
  p:not(.button-with-msg p):not(.empty-content p) {
    color: var(--text-dark);
    width: 50ch;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  li:has(button:hover) h1,
  li:has(button:hover) p,
  li:has(button:focus) h1,
  li:has(button:focus) p {
    font-weight: 600;
  }

  .content {
    gap: 1.6rem;
  }
}

/* 
  MODEL POPOVER
*/
.popover {
  /* display: flex; */
  flex-direction: column;
  width: 60rem;
  padding: 1.6rem;
  align-items: flex-start;
  gap: 1.2rem;
  border-radius: var(--radius-more-rounded);
  /* background: var(--surface-light); */
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);
  border: transparent;

  form {
    gap: 1.2rem;
  }

  header {
    margin-bottom: 1.2rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

.popover::backdrop {
  /* background-color: rgba(102, 46, 128, 0.1); */
  background-color: rgba(61, 61, 61, 0.25);
}

.flex-popover {
  display: flex;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* align-items: center; */
  align-self: stretch;
  justify-content: center;

  label {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 200%;
  }
}

/* 
  NEW WATCH MODE OVERLAY
*/
.tag-button-item {
  span,
  p {
    color: var(--text-dark);
  }
}

.color-input-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  label {
    font-size: 1.4rem;
    line-height: 200%;
  }
}

/* 
  Popup
*/
body:is(.popup) {
  width: 40rem;
  padding: 2rem;
  gap: 1.6rem;
  margin: 0;
  background: var(--surface-light);
  overflow: visible;

  main {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;

    > section {
      /* width: 50%; */
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;

      > section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
      }
    }
  }

  nav {
    background: var(--surface-light);
    padding: 0;

    img {
      width: 32px;
      height: 32px;
    }

    ul {
      gap: 1.2rem;
    }
  }

  .material-symbols-rounded {
    color: var(--surface-dark);
  }

  .usage-time {
    display: flex;
    gap: 8px;
    align-self: stretch;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;

      p:last-child {
        font-size: 16px;
        font-weight: 600;
      }
      p {
        color: var(--text-dark);
      }
    }

    .material-symbols-rounded {
      font-size: 2.8rem;
    }
  }
}

.current-watch-mode {
  /* NOTE: Temp, until watch mode feature is done */
  display: none;

  /* display: flex; */
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-more-rounded);
  border: 1.5px dashed var(--border-dark);
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);

  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
}

.top-widget {
  height: 22.4rem;
  /* gap: 0; */

  .content {
    align-content: space-between;
    padding: 2rem;
    overflow-y: auto;
    background: var(--surface-light);

    h1 {
      font-size: 1.6rem;
      font-weight: 500;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }

    p {
      color: var(--text-dark);
      font-weight: 400;
    }
  }
}

#watch-mode-top-widget {
  /* NOTE: Temp, until watch mode feature is done */
  /* display: none; */
  /* min-width: 40rem; */
  * {
    color: var(--text-light);
  }
}

#db-current-watch-mode {
  background: var(--surface-light);
  display: flex;
  flex-direction: column;
}

#notable-days-top-widget {
  min-width: 52rem;
}

#notable-days-top-widget .content > span {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#new-videos-top-widget .content > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1.2rem;

  > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  a {
    color: var(--text-dark);
    border-radius: 12px;
    padding: 1.2rem;
    width: 100%;
    gap: 1.2rem;
    justify-content: space-between;

    > span {
      display: flex;
      gap: 0.8rem;
    }
  }

  a:hover {
    box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.1);
  }
}

/* #watch-times select {
  padding: 0.8rem;
  border-radius: 1.2rem;
  background: var(--surface-light);
  border: 1.5px solid var(--border-dark);
} */

#watch-times > section:has(.watch-time-span) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.6rem;

  h1 {
    font-size: 1.6rem;
    /* font-weight: 500; */
  }
}

.watch-time-container {
  display: flex;
  gap: 1.2rem;
  width: 100%;
}

.watch-time-span {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  border-radius: 12px;
  background: var(--surface-light);
  box-shadow: 2px 2px 8px -3px rgba(0, 0, 0, 0.1);
  flex: 1 0 0;
  justify-content: flex-start;
  min-width: 50rem;

  height: auto;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  canvas {
    height: 42rem;
    max-height: 50rem;
  }
}

.total-time-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.total-time-container > span:nth-child(2) {
  padding: 0.4rem 1.2rem;
  border-radius: 1.6rem;
  border: 1.5px dashed var(--border-brand);
  background: white;
}

.timeframe-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.timeframe-inputs {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  p {
    color: var(--text-dark);
  }
}

/* 
  Animations
*/
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Circular Progress Bar */
.progress-container h1 {
  font-size: 1.6rem;
  text-align: center;
}
.progress {
  margin: 1.2rem;
  width: 10rem;
  height: 10rem;
  position: relative;
}

.progress > svg {
  height: 100%;
  display: block;
}

.progressbar-text {
  color: var(--text-dark) !important;
}

#watch-times-list {
  ul,
  li {
    display: flex;
    flex-direction: column;
  }

  ul {
    height: 100%;
    gap: 0.8rem;
    max-height: 61rem;
    overflow-y: auto;
  }

  li {
    gap: 0.4rem;

    p:nth-child(2) {
      font-weight: 700;
    }
  }

  * {
    color: var(--border-dark);
  }
}

.horizontal-line {
  width: 100%;
  border: 1px solid var(--border-dark);
  margin: 0.4rem 0;
}

@media screen and (min-width: 900px) {
  .general-header,
  .general-body {
    padding: 0 14rem;
  }
}
