/* 
  COLOR PALETTE

  Dark green #3c8453
  Sandy beige #bcaa96
  Dark gray #222
  Light gray #d3d4d6
  Off-white #f6f6f6
*/


/* GLOBAL STYLES 
-------------------------- */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* set default to 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f6f6f6;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem; /* 10px * 1.7rem = 17px */
  line-height: 1.4;
}

h1, h2, h3, h4 {
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Fredoka', cursive; */
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 6rem;
  line-height: 0.85;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}

/* buttons */
.btn {
  background: #3c8453;
  color: #f6f6f6;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  padding: 7px;
  letter-spacing: 0.1em;
  line-height: 1;
  border-radius: 6px;
}

.content-wrapper {
  margin: 6.2em 5em;
  padding: 20px 30px;
  max-width: 900px;
}

/* Tooltips */
.tooltip {
  position: relative;
  display: flex;
  /* border-bottom: 1px dotted black; */
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: #222;
  color: #d3d4d6;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.tooltip-bottom {
  top: 105%;
  left: 50%;
  margin-left: -60px;
}
.tooltip-top{
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Icons */
.icon-button-big {
  width: 64px;
}
.icon-button-medium {
  width: 48px;
}
.icon-button-small {
  width: 32px;
}

/* POPUP
-------------------------- */



/* BLOCKED SCREEN
-------------------------- */



/* SETTINGS
-------------------------- */
.settings header {
  display: flex;
  position: fixed;
  background-color: #f6f6f6;
  width: 100%;
  top: 0;
  z-index: 1;
  height: auto;
  padding: 20px 10px;
  block-size: auto;
  border-bottom: #222 2px solid;
  gap: 15px;
}
.settings-section {
  margin-bottom: 50px;
}
.settings-section h2 {
  border-bottom: 2px dashed #d3d4d6;
  /* margin-bottom: 5px; */
}
.settings-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.settings-item h3 {
  margin: 5px 0;
  width: 75%;
}
.general {
  display: none;
}
.schedule {
  /* display: none; */
}

/* Sidebar */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 5em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 6.2em;
  border-right: #222 2px solid;
}

/* Remove Addictive Aspects */
.remove-addict-items {

}

/* Alternate Activities */
input[type=text] {
  border: transparent;
  background-color: #d5d5d5;
  border-radius: 10px;
  /* width: 50%; */
  padding: 10px;
}
.activity-input::placeholder{
  color: black;
}

/* Reset All Time Usage
-------------------------- */


/* Schedule YouTube Restrictions
-------------------------- */
.schedule-day {
  float: left;
  overflow: hidden;
  margin: 4px;
  width: 48px;
  background-color: #f6f6f6;
  border: 2px solid #222;
  border-radius: 50px;
}
.schedule-day label span {
  display: block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.schedule-day label input {
  display: none;
  position: absolute;
}
.schedule-day label input + span {
  color: #222;
  font-weight: 600;
}
.schedule-day input:checked + span {
  background-color: #3c8453; 
  border: none;
  color: #f6f6f6;
}
