/* 
  Author: Lorenzo Ramirez
  Description: Contains all the stylings for ALL HTML files for
                YouTube Algorithm Regulator extension.
*/

/* COLOR PALETTE */
:root {
  --bg-white: #fff;
  --bg-white-accent: #fafafa;
  --bg-grey: #e1e1e1;
  --bg-light-blue: #63a0cc;
  --text-black: #3d3d3d;
  --text-grey-accent: #a4a4a4;
  --secondary-black: #43494a;
  --body-white: #fcfcfc;
  --call-to-action: #d33030;
  --call-to-action-2: #067c1a;
  --call-to-action-3: #123e9d;
}

/* GLOBAL STYLES 
-------------------------- */
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; /* sets default to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--bg-white);
  margin: 0;
}
body,
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem; /* 10px * 1.7rem = 17px */
  line-height: 1.4;
  color: var(--text-black);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  margin: 0;
  color: var(--text-black);
}
h1 {
  font-size: 5rem;
  line-height: 0.85;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-right: 10px;
}
h3 {
  font-size: 1.75rem;
  color: var(--text-grey-accent);
}
h4 {
  font-size: 2rem;
  font-weight: 600;
}

/* Nav Sidebar */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 80px;
  gap: 10px;
  padding-left: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 15px;
  margin-top: 6.2em;
  border-top: var(--secondary-black) 1px solid;
  border-right: var(--secondary-black) 2px solid;
  background-color: var(--bg-white-accent);
  transition: 0.25s;
}
nav > a {
  display: flex;
  transition: 0.35s;
  text-decoration: none;

  > img {
    z-index: 1;
    width: 58px;
    border-radius: 10px;
    background-color: var(--bg-white-accent);

    padding: 6px;
    transition: 0.35s;
  }
  & p {
    display: none;
    animation: slide-out 0.2s linear;
    font-weight: 600;
  }
}
nav:hover {
  width: 180px;
  transition: 0.25s;

  & a {
    padding-right: 10px;
    width: 95%;
  }
  > a > p {
    display: flex;
    padding-left: 5px;
  }
}
nav:not(:hover) {
  width: 80px;
  transition: 0.25s;
}
nav > a:hover {
  background-color: #efefef;
  border-radius: 12px;
  > img {
    background-color: #efefef;
  }
}
.current-page {
  background-color: #ededed;
  border-radius: 10px;
  transition: 0.25s;
  > img {
    background-color: #ededed;
  }
}

/* buttons */
button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  user-select: none;
  text-decoration: none;

  & .icon-delete {
    opacity: 70%;
    width: 28px;
  }
  & .icon-in-btn {
    width: 24px;
    height: 24px;
  }
}
button:hover {
  opacity: 90%;
}
button:active {
  opacity: 100%;
}
.icon-delete:hover {
  opacity: 100%;
}
.schedule-item-header button {
  background: transparent;
  margin: 5px 0;
  border: 2px solid transparent;
  visibility: hidden;
}
.btn-text {
  align-items: center;
  justify-content: center;
  height: 40px;
  width: fit-content;
  padding: 12px 24px;
  margin-top: 15px;
  background-color: var(--call-to-action-2);
  border: none;
  color: var(--bg-white);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}
.side-icon {
  padding: 6px 20px;
  background-color: var(--call-to-action-3);
  & img {
    width: 24px;
  }
  & div {
    color: var(--body-white);
    margin: 0 10px;
    font-size: 1.35rem;
  }
}
.delete-btn {
  background-color: var(--call-to-action);
}

/* Tooltips */
.tooltip {
  display: flex;
  position: relative;
}
.tooltip span {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  max-width: 300px;
  background-color: #222;
  color: #d3d4d6;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  transition: 0.3s;
}
.tooltip img {
  width: 40px;
}
.tooltip:hover span {
  visibility: visible;
}

/* Checkbox Button Appearance */
.checkbox-form,
.schedule-new {
  display: flex;
  margin: 10px 0;

  & .checkbox-item {
    float: left;
    overflow: hidden;
    margin: 4px 4px 4px 0;
    width: 25%;
    background-color: var(--bg-white);
    border: 2px solid var(--text-grey-accent);
    border-radius: 50px;
    transition: 0.3s;

    & label span {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      padding: 10px;
      cursor: pointer;
      user-select: none;
    }
    & label input {
      display: none;
      position: absolute;
    }
    & label input + span {
      color: var(--text-black);
      font-weight: 600;
      transition: 0.4s;
    }
  }
  & .checkbox-circle {
    width: 48px;
  }
  & .checkbox-rectangle {
    height: 70px;
    width: 100%;
  }
  & .checkbox-square {
    background-color: #00000014;
    width: 100px;
    border-radius: 12px;
    border: none;
  }
  & .checkbox-item:hover {
    background-color: #e3e3e3;
  }
  & .checkbox-item:active {
    background-color: #d2d2d2;
  }
  .checkbox-item input:checked + span {
    background-color: var(--call-to-action);
    color: var(--bg-white);
  }
}
input[type="time" i] {
  padding: 10px;
  background: var(--bg-white-accent);
  border: 2px solid var(--text-grey-accent);
  border-radius: 15px;
  color: var(--text-black);
  font-size: 20px;
  cursor: pointer;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(25%) sepia(0%) saturate(30%) hue-rotate(193deg) brightness(93%)
    contrast(96%);
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: #222;
  color: #d3d4d6;
}
footer p {
  padding: 0 10px;
  color: var(--bg-white);
}

/* POPUP
-------------------------- */
.html-popup {
  width: 350px;
  height: 400px;
}
.popup .content-wrapper {
  margin: 0 30px;
}
.popup-section {
  margin: 15px 0 30px;
}

/* Popup Header */
.popup header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px 0;
  height: auto;

  & a {
    padding: 0;
  }
  & img {
    width: 36px;
    transition: all 0.5s;
  }
  & div {
    display: flex;
  }
}
.gear-icon:hover {
  animation: spin 3s linear infinite;
}
.schedule-icon:hover {
  animation: ring 200ms cubic-bezier(0.1, -0.6, 0.2, 0) infinite;
}

/* YouTube Usage Counters */
.usage-section .usage-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--secondary-black);

  & div {
    display: flex;
    gap: 5px;
  }
  & img {
    width: 16px;
  }
  & p {
    margin: 0;
  }
}

/* Free Videos Counter */
.free-videos {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

/* Disable YouTube Button */
.popup-section {
  & .checkbox-item {
    border-radius: 8px;
    height: 50px;
    width: 100%;
  }
}

/* Free Video Question Popup */
.question {
  height: 280px;
}
.content-wrapper-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;

  > section {
    margin: 10px 0;
  }

  & h4 {
    text-align: center;
  }
}
.free-video-question {
  display: flex;
  justify-content: space-around;
  width: 100%;

  & button {
    width: 100px;
    height: 50px;
  }

  > .btn-yes {
    background-color: var(--bg-light-blue);
  }
  > .btn-no {
    background-color: var(--call-to-action);
  }
}

/* BLOCKED SCREEN
-------------------------- */
.blocked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--bg-light-blue);

  > footer {
    position: relative;
    height: 50px;
  }
}
.blocked header {
  display: flex;
  background-color: var(--bg-white-accent);
  width: 100%;
  padding: 10px;
  border-bottom: var(--secondary-black) 2px solid;

  & img {
    width: 64px;
  }
}

/* Main Content */
.blocked .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  gap: 50px;

  > section {
    display: flex;
    gap: 25px;
  }

  & p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 2rem;
    font-family: "Fredoka", cursive;
  }
  & h1,
  h2 {
    text-align: center;
    color: var(--bg-white-accent);
  }
}

/* Usage Stats */
.usage-stats {
  > h2 {
    text-align: center;
  }
  > section {
    display: flex;
    margin-top: 25px;
    gap: 15px;
  }
}
.info-box {
  width: 150px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--bg-white-accent);
  box-shadow: 0 2px 4px var(--text-grey-accent);

  & img {
    width: 32px;
  }
  > .usage-header {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
  }
  > .usage-time {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    row-gap: 5px;
  }
}

/* Alternate Activities */
.alt-activities {
  > h2 {
    text-align: center;
  }
  > section {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
  }
}
.activity {
  display: none;
  width: 100%;
}
.activity-placeholder {
  display: none;
}

/* SETTINGS
-------------------------- */
.settings header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--bg-white-accent);
  width: 100%;
  top: 0;
  z-index: 1;
  height: auto;
  padding: 20px 10px;
  block-size: auto;
  border-bottom: var(--secondary-black) 2px solid;
  gap: 15px;

  & img {
    width: 64px;
  }
}
.settings .content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 6.2em 0;
  padding: 20px 60px 70px;
  width: 100%;
  height: 100%;
}
.settings-section {
  width: 80%;
  max-width: 820px;
  min-width: 400px;
}
.settings-section h2 {
  border-bottom: 2px dashed #d3d4d6;
}
.settings-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.settings-item h3 {
  margin: 5px 0;
  width: 75%;
}

/* Addictive Elements Checkbox Form */
.addictive-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 15px;
}

/* Alternate Activities */
ol {
  padding: 0 25px;
  list-style: none;
}
li {
  margin: 10px 0;
}
li .activity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1.75rem;
  transition: 0.75s;
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  background-color: var(--bg-grey);
  border: transparent;
  border-radius: 8px;
  color: var(--text-black);
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}

.activity-input::placeholder {
  color: #3d3d3d99;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

/* Schedule YouTube Restrictions
-------------------------- */
.schedule-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 15px;
  margin: 10px 0 15px;
}
.schedule-item {
  display: flex;
  background-color: var(--bg-white-accent);
  width: 100%;
  min-height: 100px;
  border: var(--text-grey-accent) solid 2px;
  border-radius: 10px;
}
.schedule-item-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-right: 2px solid var(--text-grey-accent);
  background-color: var(--secondary-black);
  border-radius: 7px 0 0 7px;
}
.schedule-item-day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  width: 36px;
  height: 36px;
  color: var(--bg-white);
  background-color: var(--call-to-action);
  border-radius: 18px;
}
.schedule-item:hover button {
  visibility: visible;
  background-color: var(--bg-white);
}
.schedule-time-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5px 10px;
}
.schedule-time {
  display: grid;
  grid-template-columns: repeat(3, 75px);
  justify-items: center;
  margin: 5px;
}
.schedule-new {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
  border-top: 2px solid var(--text-grey-accent);
  border-bottom: 2px solid var(--text-grey-accent);
}
.schedule-new-time {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

/* RESPONSIVENESS
---------------------- */
@media screen and (max-width: 630px) {
  nav {
    justify-content: center;
    width: 100% !important;
    height: 11%;
    padding: 30px 5px;
    border-top: none;
    border-right: none;
    border-bottom: var(--secondary-black) 1.5px solid;
  }
  nav:hover {
    > a {
      width: 180px;
    }
  }
  .settings .content-wrapper {
    margin: 10em 0;
  }
}

@media screen and (max-width: 800px) {
  .schedule-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .schedule-item {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  .schedule-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 875px) and (min-width: 500px) {
  .addictive-form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 630px) {
  .addictive-form {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .blocked .content-wrapper > section {
    flex-direction: column;
  }
}

/* Animations 
---------------------- */
@keyframes spin {
  0% {
    rotate: 1deg;
  }

  100% {
    rotate: 720deg;
  }
}
@keyframes ring {
  0% {
    rotate: 1deg;
    transform: translateY(0px);
  }

  10% {
    rotate: 5deg;
  }

  20% {
    rotate: 10deg;
  }

  40% {
    rotate: 5deg;
  }

  50% {
    rotate: 1deg;
  }

  60% {
    rotate: -5deg;
  }

  70% {
    rotate: -10deg;
  }

  80% {
    rotate: -5deg;
  }

  100% {
    rotate: 1deg;
    transform: translateY(-1px);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(-63px);
  }
  100% {
    transform: translateX(0px);
  }
}
